<aside class="part-navigation-container" role="complementary">
  <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half list list-number">
      <li>
        Active item
      </li>
      <li>
        <a href="#0">Navigation item #2</a>
      </li>
      <li>
        <a href="#0">Navigation item #3</a>
      </li>
      <li>
        <a href="#0">Navigation item #4</a>
      </li>
    </ol>
    <ol class="list list-number column-half" start="5">
      <li>
        <a href="#0">Navigation item #5</a>
      </li>
      <li>
       <a href="#0">Navigation item #6</a>
      </li>
      <li>
        <a href="#0">Navigation item #7</a>
      </li>
      <li>
        <a href="#0">Navigation item #8</a>
      </li>
    </ol>
  </nav>
</aside>
