<nav role="navigation" aria-label="Pagination">
  <div class="pagination-summary">Showing 101 &ndash; 150 of 246 results</div>
  <ul class="pagination">
    <li class="pagination__item">
      <a class="pagination__link" href="#0" aria-label="Previous page">
        <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
          <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        Previous
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#0" aria-label="Page 1">1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#0" aria-label="Page 2">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 3, current page">3</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#0" aria-label="Page 4">4</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#0" aria-label="Page 5">5</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#0" aria-label="Next page">
        Next
        <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
          <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>
